html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, caption,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    color: inherit;
    vertical-align: baseline;
}

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 24px;
}

@media (max-width: 1024px) {
    .container {
        padding: 0 16px;
    }
}

@media (max-width: 768px) {
    .container {
        padding: 0 12px;
    }
}

/*star header*/
.header {
    background: linear-gradient(to right, #E9EAE6, #FCFE92);
}

.header .header_header {
    /*min-height: 150px;*/
    height: 100%;
    /*background: linear-gradient(to right, #E9EAE6, #FCFE92);*/
}

.header .header_header .header_one {
    /*border-bottom: 1px solid #A09E9E;*/
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.header .header_header .header_info {
    display: flex;
    column-gap: 40px;
    padding-left: 53px;
    padding-right: 96px;
}

.header .header_header .header_info .information {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.header .header_header .header_info .information .info_span {
    font-weight: 400;
    font-size: 14px;
    font-family: Montserrat;
    color: #000000;
}

.header .header_header .header_info .information .info_span::first-line {
    font-weight: bold;
}

.header .header_header .header_one .header_button button {
    display: inline-flex;
    align-items: center;
    padding-inline: 15px;
    height: 40px;
    background-color: #000000;
    border-radius: 5px;
    font-weight: 700;
    font-size: 12px;
    color: #FFFFFF;
    font-family: Montserrat;
    text-transform: uppercase;
}

.header .header_header .header_one .header_button button:hover {
    background-color: #535353;
}

.header .header_header .header_two {
    padding: 20px;
}

.header .header_header .header_two ul {
    display: flex;
    justify-content: center;
    column-gap: 40px;
    list-style-type: none;
    white-space: nowrap;
}

.header .header_header .header_two a {
    font-weight: 400;
    font-size: 1rem;
    font-family: Montserrat;
    text-decoration: none;
}
@media (max-width: 1120px) {
    .header .header_header .header_info {
        display: none;
    }

    .header .header_header .header_one {
        /*padding-inline: 100px;*/
        display: flex;
        flex-direction: column;
        row-gap: 15px;
        align-items: center;
    }
}
@media (max-width: 1024px) {


}

@media (max-width: 768px) {
    .header .header_header .header_two {
        display: none;
    }
}

/*end header*/
/*start main section one*/
.main .one {
    background-image: url("images/bg_1 1.png");
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.main .one .main-logo {
    /*background-image: url("images/bg_1 1.png");*/
    /*min-height: 740px;*/
    /*background-repeat: no-repeat;*/
    /*background-position: center;*/
    /*width: 100%;*/
    padding: 6.25rem 20%;
}

.main .one .main-logo h1 {
    text-align: center;
    font-weight: 600;
    font-size: clamp(1.7rem, 5vw, 2.6rem);
    color: #FFFFFF;
    font-family: Montserrat;
}

.main .one .main-logo .yellow {
    color: #FDFF8C;
}

.main .one .main-logo .text {
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
    padding-top: 32px;
    text-align: center;
    font-family: Montserrat;
}

.main .one .main-logo button {
    max-width: 359px;
    width: 100%;
    height: 80px;
    background-color: #FDFF8C;
    border-radius: 9px;
    font-weight: 500;
    font-size: 20px;
    color: #000000;
    display: block;
    margin: 50px auto;
    font-family: Montserrat;
}

.main .one .main-logo button:hover {
    background-color: #F0F27F;
}

.main .one .main-logo .text_ {
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;
    font-family: Montserrat;
}

@media (max-width: 1150px) {
    /*.main .one .main-logo {*/
    /*    padding: 60px 100px;*/
    /*}*/
}

@media (max-width: 640px) {
    /*.main .one .main-logo h1 {*/
    /*    font-size: 36px;*/
    /*}*/

    /*.main .one .main-logo {*/
    /*    padding: 40px 40px;*/
    /*}*/
}

/*main section one*/
/*start main section two*/
.main .two {
    background: linear-gradient(to right, #E9EAE6, #FCFE92);
}

.main .two .advantages {
    /*min-height: 908px;*/
    padding: 6.25rem 10%;
    /*background: linear-gradient(to right, #E9EAE6, #FCFE92);*/
}

.main .two .advantages h2 {
    padding-bottom: 41px;
    font-weight: 500;
    font-size: clamp(1.7rem, 5vw, 2.6rem);
    color: #000000;
    font-family: Montserrat;
    line-height: 100%;
    text-align: center;
}

.main .two .advantages .advantages-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 49px 130px;
    /*max-width: 1160px;*/
    margin: 0 auto;
}

.main .two .advantages .advantages-grid .advantage {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.main .two .advantages .advantages-grid .advantage p {
    font-weight: 500;
    font-size: 16px;
    color: #000000;
    font-family: Montserrat;
    padding-top: 35px;
}

@media (max-width: 1024px) {
    .main .two .advantages .advantages-grid {
        grid-template-columns:repeat(2, 1fr);
    }
}

@media (max-width: 640px) {
    .main .two .advantages .advantages-grid {
        grid-template-columns: 1fr;
    }

}

/*end main section two*/
/*star main section thee*/
.main .three .our_services {
    padding: 6.25rem 10%;
}

.main .three .our_services h3 {
    font-weight: 500;
    font-size: clamp(1.7rem, 5vw, 2.6rem);
    color: #000000;
    font-family: Montserrat;
    text-align: center;
    padding-bottom: 60px;
}

.main .three .our_services .service-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px 40px;
    /*margin: 0 auto;*/
    /*max-width: 1160px;*/
    /*height: 100%;*/
    width: clamp(100%, 5vw, 50%);
    /*margin-bottom: 98px;*/
}

.main .three .our_services .service-grid .service {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid #DDDDDD;
    border-radius: 7px;
}

.main .three .our_services .service-grid .service-text {
    background: linear-gradient(to right, #E9EAE6, #FCFE92);
    /*height: 90px;*/
    /*display: flex;*/
    /*align-items: center;*/
}

.main .three .our_services .service-grid .service-text p {
    padding-top: 28px;
    padding-bottom: 20px;
    font-weight: 600;
    font-size: 14px;
    font-family: Montserrat;
}

.main .three .our_services .service-grid .service .service-text-one {
    padding-top: 29px;
    font-weight: 500;
    font-size: 14px;
    font-family: Montserrat;
    line-height: 1.5;
}

.main .three .our_services .service-grid .service .recognize {
    width: 235px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #000000;
    font-weight: 500;
    font-size: 12px;
    font-family: Montserrat;
    margin-bottom: 15px;
    margin-top: 24px;
    background-color: #FFFFFF;
    text-transform: uppercase;
}

.main .three .our_services .service-grid .service .get {
    margin-bottom: 25px;
    width: 235px;
    height: 40px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 12px;
    font-family: Montserrat;
    background-color: #000000;
    color: #FFFFFF;
    text-transform: uppercase;
}

.main .three .our_services .service-grid .get:hover {
    background-color: #535353;
}

.main .three .our_services h3 {
    font-size: 2rem;
}

@media (max-width: 1240px) {
    .main .three .our_services .service-grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        /*max-width: 600px;*/
    }
}

@media (max-width: 1024px) {
    .main .three .our_services .service-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        /*max-width: 600px;*/
    }
}

@media (max-width: 640px) {
    .main .three .our_services .service-grid {
        grid-template-columns: 1fr;
        /*max-width: 290px;*/
    }
}

/*end main section thee*/
/*start main section four*/
.main .four {
    background-color: #E9EAE6;
}

.main .four .safeguards {
    padding: 6.25rem 17%;
    /*min-height: 940px;*/
}

.main .four .safeguards h3 {
    font-weight: 500;
    font-size: 2rem;
    font-family: Montserrat;
    padding-bottom: 60px;
    text-align: center;
    color: #000000;
}

.main .four .safeguards .safeguards-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
    /*max-width: 958px;*/
    width: clamp(100%, 5vw, 50%);
    /*margin: 0 auto;*/
}

.main .safeguards .safeguards-grid .safeguards-law {
    display: flex;
    flex-direction: column;
}

.main .safeguards .safeguards-grid .safeguards-law p {
    font-weight: 500;
    font-size: 18px;
    color: #000000;
    font-family: Montserrat;
}


.main .safeguards .safeguards-grid .safeguards-law .input-radio-one {
    display: flex;
    gap: 40px;
}

.main .safeguards .safeguards-grid .safeguards-law .radio-option {
    display: flex;
    align-items: center;
    margin-top: 20px;
    column-gap: 10px;
}

.main .safeguards .safeguards-grid .safeguards-law .radio-option .radio-div {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #FCFE92;
    border: 1px solid #000000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main .safeguards .safeguards-grid .safeguards-law .radio-option span {
    font-weight: 400;
    /*width: 100%;*/
    font-size: 1rem;
    font-family: Montserrat;
}

.main .safeguards .safeguards-grid .safeguards-law .p {
    margin-top: 40px;
}

.main .four .safeguards .safeguards-grid .safeguards-amount .input-text {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: 18px;
    color: #000000;
    font-family: Montserrat;
}

.main .four .safeguards .safeguards-grid .safeguards-amount .input-text input {
    margin-top: 10px;
    margin-bottom: 20px;
    max-width: 400px;
    width: 100%;
    height: 40px;
    border: 1px solid #939393;
    border-radius: 5px;
    color: #999999;
    font-weight: 400;
    font-size: 16px;
    padding-left: 12px;
}

.main .four .safeguards .safeguards-grid .safeguards-amount button {
    max-width: 400px;
    width: 100%;
    height: 60px;
    background-color: #000000;
    border-radius: 7px;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    font-family: Montserrat;
}

.main .four .safeguards .safeguards-grid .safeguards-amount button:hover {
    background-color: #535353;
}

.main .four .safeguards .safeguards-grid .safeguards-amount .policy {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    justify-content: flex-start;
}

.main .four .safeguards .safeguards-grid .safeguards-amount .policy .issue2 {
    width: 26px;
    height: 26px;
    border-radius: 3px;
    border: 1px solid #000000;
    background-color: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main .four .safeguards .safeguards-grid .safeguards-amount .policy span {
    font-weight: 400;
    font-size: 12px;
    font-family: Montserrat;
    color: #000000;
}

.main .four .safeguards .safeguards-grid .safeguards-amount .note {
    margin-top: 23px;
    font-weight: 400;
    font-size: 16px;
    font-family: Montserrat;
}

@media (max-width: 1120px) {
    .main .four .safeguards .safeguards-grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 40px;
    }

}
@media(max-width: 640px){
    .main .four .safeguards .safeguards-grid .safeguards-amount .policy{
        margin-top: 20px;
        column-gap: 10px;
    }
    .main .four .safeguards{
        padding-top: 3.1rem;
        padding-bottom: 3.1rem;
    }
    .main .safeguards .safeguards-grid .safeguards-law .input-radio-one{
        flex-direction: column;
        row-gap: 5px;
    }
}


/*end main section four*/
/*start main section five*/
.main .five {
    background: linear-gradient(to right, #E9EAE6, #FCFE92);
}

.five .free {
    padding: 6.25rem 15%;
}

.five .free h3 {
    font-weight: 500;
    font-size: clamp(1.5rem, 5vw, 2rem);
    font-family: Montserrat;
    padding-bottom: 40px;
    color: #000000;
    text-align: center;
}

.five .free p {
    font-weight: 400;
    font-size: 18px;
    font-family: Montserrat;
    color: #000000;
    text-align: center;
}

.five .free .free_input {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 40px;
    margin-top: 41px;
}

.five .free .free_input input {
    border: 1px solid #939393;
    max-width: 300px;
    width: 100%;
    height: 40px;
    font-weight: 400;
    font-size: 16px;
    font-family: Montserrat;
    color: #999999;
    border-radius: 5px;
    padding-left: 10px;
}

.five .free .free-button button {
    max-width: 300px;
    width: 100%;
    height: 60px;
    border-radius: 7px;
    background-color: #000000;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
}

.five .free .free-button button:hover {
    background-color: #535353;
}

.five .free .free-button {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

@media (max-width: 768px) {
    .five .free .free_input {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
}
@media (max-width: 640px) {
    .five .free{
        padding-top: 3.75rem;
        padding-bottom: 3.75rem;
    }

}
/*end main section five*/
/*start section six*/
.main .six {
    background: linear-gradient(to bottom, #000000, #242424);
}

.main .six .design {
    /*min-height: 764px;*/
   padding: 6.25rem 11%;
}

.main .six .design h3 {
    font-weight: 500;
    font-size: clamp(2rem, 5vw, 2.6rem);
    font-family: Montserrat;
    color: #FFFFFF;
    text-align: center;
    padding-bottom: 53px;
}

.main .six .design .design-grid {
    max-width: 1134px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 39px 56px;
}

.main .six .design .design-grid .design-position {
    display: flex;
    flex-direction: row;
    gap: 18px;
    align-items: center;
    justify-content: center;
    position: relative;
    min-height: 160px;
}

.main .six .design .design-grid .design-position p {
    color: #FFFFFF;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 16px;
    position: relative;
    z-index: 1;
}

.main .six .design .design-grid .design-position .two_ {
    width: 58px;
    height: 33px;
    position: relative;
    z-index: 1;
}

.main .six .design .design-grid .design-position .png {
    position: absolute;
    z-index: 0;
    height: 160px;
    /*left: 20%;*/
}
@media (max-width: 1024px){
    .main .six .design .design-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);}
}
@media (max-width: 768px) {
    .main .six .design .design-grid {
        display: grid;
        grid-template-columns: 1fr;
        /*max-width: 400px;*/
        /*min-height: 1609px;*/
    }

    .main .six .design .design-grid .design-position {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 40px;
    }

    .main .six .design .design-grid .design-position .two_ {
        /*display: block;*/
        transform: rotate(90deg);
    }
}

/*end main section six*/
/*start main section seven*/
.main .seven .partners {
    /*margin: 100px auto;*/
    /*min-height: 913px;*/
    /*max-width: 1160px;*/
    padding: 6.25rem 10%;
}

.main .seven .partners h3 {
    text-align: center;
    font-weight: 500;
    font-size: clamp(2rem, 5vw, 2.6rem);
    font-family: Montserrat;
    padding-bottom: 60px;
}

.main .seven .partners .partners-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px 40px;
    /*max-width: 1160px;*/
}

.main .seven .partners .partners-grid .partner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid #DDDDDD;
    border-radius: 7px;
    min-height: 331px;
}

.main .seven .partners .partners-grid .partner .partner-text {
    border-bottom: 1px solid #DDDDDD;
    width: 100%;
}

.main .seven .partners .partners-grid .partner .partner-text img {
    padding-top: 20px;
    padding-bottom: 20px;
}

.main .seven .partners .partners-grid .partner .partner-text p {
    padding-bottom: 20px;
    font-weight: 500;
    font-size: 22px;
    font-family: Montserrat;
    color: #000000;
}

.main .seven .partners .partners-grid .partner .partner-text-one {
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 500;
    font-size: 14px;
    font-family: Montserrat;
    color: black;
    min-height: 85px;
    line-height: 2.0;
}

.main .seven .partners .partners-grid .partner .application {
    min-width: 235px;
    height: 40px;
    background-color: #EF3C3C;
    border-radius: 5px;
    font-weight: 700;
    font-size: 12px;
    font-family: Montserrat;
    color: #FFFFFF;
    border: none;
    text-transform: uppercase;
}

.main .seven .partners .partners-grid .partner .application:hover {
    background-color: #C13333;
}

.main .seven .partners .arrow {
    padding-top: 40px;
    display: block;
    margin: 0 auto;
}
@media (max-width: 1260px) {
    .main .seven .partners .partners-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 1024px) {
    .main .seven .partners .partners-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .main .seven .partners .partners-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .main .seven .partners .partners-grid .partner:nth-child(n+5) {
        display: none;
    }
}
@media (max-width: 640px){
    .main .seven .partners .partners-grid {
        display: grid;
        grid-template-columns:  1fr;
    }
}

/*end main section seven*/
/*start main section eight*/
.main .eight .online {
    max-width: 1160px;
    min-height: 1012px;
    margin: 0 auto;
}

.main .eight .online h3 {
    font-weight: 500;
    font-size: 32px;
    font-family: Montserrat;
    color: black;
    padding-bottom: 40px;
    display: block;
    max-width: 790px;
    margin: 0 auto;
    text-align: center;
}

.main .eight .online p {
    display: block;
    max-width: 890px;
    margin: 0 auto;
    text-align: center;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 18px;
    color: black;
}

.main .eight .online .online_step {
    max-width: 1160px;
    background-color: #E9EAE6;
    min-height: 713px;
    margin-top: 40px;
    border-radius: 11px;
}

.main .eight .online .online_step .step {
    display: flex;
    justify-content: space-between;
    gap: 0;
}

.main .eight .online .online_step .step a {
    text-decoration: none;
}

.main .eight .online .online_step .step .step-one {
    width: 580px;
    text-align: center;
    font-weight: 500;
    font-size: 32px;
    font-family: Montserrat;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #E9EAE6;
    border-radius: 11px 0 0 0;
}

.main .eight .online .online_step .step .step-two {
    width: 580px;
    text-align: center;
    font-weight: 500;
    font-size: 32px;
    font-family: Montserrat;
    padding-top: 20px;
    padding-bottom: 20px;
    background: linear-gradient(to right, #FFFFFF, #F9F8F8);
    border-radius: 0 11px 0 0;
}

.main .eight .online .online_step .online-contract {
    max-width: 879px;
    height: 513px;
    background-color: #E9EAE6;
    margin: 60px auto;
}

.main .eight .online .online_step .online-contract h3 {
    text-align: center;
    font-weight: 500;
    font-size: 22px;
    font-family: Montserrat;
    color: black;
    padding-bottom: 40px;
}

.main .eight .online .online_step .online-contract .online-input {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.main .eight .online .online_step .online-contract .online-input .input {
    display: flex;
    align-items: center;
}

.main .eight .online .online_step .online-contract .online-input .input div {
    width: 60%;
    display: flex;
    gap: 8px;
    align-items: center;
}

.main .eight .online .online_step .online-contract .online-input .input div label {
    width: max-content;
}

.main .eight .online .online_step .online-contract .online-input label {
    font-weight: 500;
    font-size: 18px;
    font-family: Montserrat;
    color: black;
    width: 40%;
    text-align: right;
}

.main .eight .online .online_step .online-contract .online-input .input input {
    width: 100%;
    max-width: 400px;
    min-height: 40px;
    border-radius: 5px;
    border: 1px solid #939393;
    margin-left: 10px;
    padding-left: 12px;
}

.main .eight .online .online_step .online-contract .online-input button {
    width: 164px;
    height: 60px;
    background-color: black;
    border-radius: 7px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 16px;
    font-family: Montserrat;
    align-items: center;
    display: inline-flex;
    gap: 20px;
    padding-left: 20px;
    float: right;
    margin-left: 715px;
}

.main .eight .online .online_step .online-contract .online-input button:hover {
    background-color: #535353;
}

@media (max-width: 900px) {
    .main .eight .online .online_step .online-contract .online-input button {
        margin: 0 auto;
    }

    .main .eight .online {
        min-height: 1120px;
    }

    /*.main .eight .online .online_step .online-contract .online-input{*/
    /*    min-height: 805px;*/
    /*}*/
    .main .eight .online .online_step .online-contract {
        margin: 40px auto;
    }

    .main .eight .online .online_step {
        min-height: 801px;
    }
}

/*end main section eight*/
/*start main section nine*/
.main .nine {
    background: linear-gradient(to bottom, #000000, #242424);
}

.main .nine .question {
    min-height: 1360px;
    width: 100%;
}

.main .nine .question h3 {
    text-align: center;
    font-weight: 500;
    font-size: 42px;
    font-family: Montserrat;
    color: #FFFFFF;
    padding-top: 140px;
    padding-bottom: 56px;
}

.main .nine .question .question_ {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1160px;
    width: 100%;
}

.main .nine .question .question_text {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 22px;
    font-family: Montserrat;
}

.nine .question .question_ul {
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    padding-top: 22px;
    padding-bottom: 33px;
    max-width: 1160px;
    width: 100%;
}

.nine .question .question_ul ul {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 18px;
    font-family: Montserrat;
    list-style-type: none;
}

.nine .question .question_ul ul li {
    margin-bottom: 10px;
}

.main .nine .question .question_two {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1160px;
    width: 100%;

    border-top: 1px solid #FFFFFF;
    padding: 22px 0;
}

.main .nine .question .question_two:nth-child(12) {
    border-bottom: 1px solid #FFFFFF;
}

@media (max-width: 768px) {
    .main .nine .question h3 {
        font-size: 32px;
        padding-bottom: 40px;
        padding-top: 60px;
    }
}

/*end section nine*/
/*start section ten*/
.main .ten {
    background: linear-gradient(to right, #E9EAE6, #FCFE92);
}

.ten .issue {
    min-height: 638px;
    height: auto;
}

.ten .issue h3 {
    font-weight: 500;
    font-size: 42px;
    font-family: Montserrat;
    color: black;
    padding-top: 100px;
    padding-bottom: 67px;
    text-align: center;
}

.ten .issue p {
    font-family: Montserrat;
    color: black;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    padding-bottom: 18px;
}

.ten .issue .issue_input {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 40px;
    margin-top: 41px;
}

.ten .issue .issue_input input {
    border: 1px solid #939393;
    max-width: 300px;
    width: 100%;
    height: 40px;
    font-weight: 400;
    font-size: 16px;
    font-family: Montserrat;
    color: #999999;
    border-radius: 5px;
    padding-left: 10px;
}

.ten .issue .issue-button {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.ten .issue .issue-button button {
    max-width: 300px;
    width: 100%;
    height: 60px;
    border-radius: 7px;
    background-color: #000000;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
}

.ten .issue .issue-button button:hover {
    background-color: #535353;
}

.ten .issue .issue_checkbox {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    justify-content: center;
    margin-top: 51px;
}

.ten .issue .issue_checkbox .issue1 {
    width: 26px;
    height: 26px;
    border-radius: 3px;
    border: 1px solid #000000;
    background-color: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ten .issue .issue_checkbox .issue_span {
    font-weight: 400;
    font-size: 12px;
    font-family: Montserrat;
    color: #000000;
}

/*end section ten*/
/*start footer*/
.footer .footer_one {
    min-height: 575px;
    background: linear-gradient(to bottom, #242424, #000000);
}

.footer .footer_one .footer-plus {
    /*border-bottom: 1px solid #4F4F4F;*/
    padding-top: 2.5rem;
    padding-bottom: 1.5rem;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    column-gap: 7.8rem;
    justify-content: center;
}

.footer .footer_one .footer-plus .footer_info {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

.footer .footer_one .footer-plus .footer_info img {
    width: 160px;
    height: 38px;
}

.footer .footer_one .footer-plus .footer_info p {
    font-weight: 500;
    font-size: 0.8vw;
    font-family: Montserrat;
    color: #FFFFFF;
}

.footer .footer_one .footer-plus .footer_info .footer-phone {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.footer .footer_one .footer-plus .footer_info .phone {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.footer .footer_one .footer-plus .footer_info .phone img {
    width: 30px;
    height: 30px;
}

.footer .footer_one .footer-plus .footer_info .phone span {
    font-weight: 400;
    font-size: 12px;
    color: #FFFFFF;
    font-family: Montserrat;
}

.footer .footer_one .footer-plus .footer_info .mail span::first-line {
    font-weight: 600;
    font-size: 20px;
}

.footer .footer_one .footer-plus .footer_info a {
    color: #FDFF8C;
    font-weight: 500;
    font-size: 0.75rem;
    font-family: Montserrat;
}

.footer .footer_one .footer-plus .footer_info_two {
    display: flex;
    flex-direction: row;
    column-gap: 2.5rem;
    justify-content: center;
}

.footer .footer_one .footer-plus .footer_info_two .info-section p {
    font-weight: 500;
    font-weight: bold;
    font-size: 14px;
    color: #FDFF8C;
    font-family: Montserrat;
    padding-bottom: 1.25rem;
}

.footer .footer_one .footer-plus .footer_info_two .info-section hr {
    width: 100%;
    border: none;
    border-top: 1px solid #4F4F4F;
}

.footer .footer_one .footer-plus .footer_info_two .info-section ul {
    font-weight: 500;
    font-size: 12px;
    color: #FFFFFF;
    font-family: Montserrat;
    padding-top: 1rem;
    list-style: none;
}

.footer .footer_one .footer-plus .footer_info_two .info-section li {
    margin-bottom: 16px;
}

.footer .footer_one .footer-plus-two {
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
    font-weight: 400;
    font-size: 0.75rem;
    font-family: Montserrat;
    font-style: italic;
    color: #FFFFFF;
    padding-top: 2.5rem;
    padding-bottom: 1.6rem;
}